<h2 class="title">{{fields.header}}</h2>
<hr>
<div class="content">
    {{{fields.body}}}

    <a href="https://res.cloudinary.com/airship/raw/upload/v1537653285/media/MembershipApplication_m5sufr.doc">
      {{#each fields.membership_application}}
      <div class="membership-application">
        <p>{{title}}</p>
      </div>
      {{/each}}
    </a>

    <a href="https://res.cloudinary.com/airship/raw/upload/v1537653326/media/Renewal_xip7ja">
      {{#each fields.membership_renewal_form}}
      <div class="membership-renewal-form">
        <p>{{title}}</p>
      </div>
      {{/each}}
      <a link="">
    </a>

    <a href="https://res.cloudinary.com/airship/raw/upload/v1537653348/media/Board_oj5wme">
      {{#each fields.board_application}}
      <div class="board-application">
        <p>{{title}}</p>
      </div>
      {{/each}}
    </a>
</div>
