<body>

  <section id="hero">
    {{#each fields.hero_image}}
    <div class="hero-image">
      <img src="{{url}}" alt="{{title}}">
    </div>
    {{/each}}

    <blockquote>{{fields.mission}}</blockquote>

    <div class="link button">
      {{#each fields.member_button}}
      <a href="{{url}}">{{title}}</a>
      {{/each}}
    </div>
  </section>
  <hr>
  <section id="carousel">
    <div class='carousel carousel-animated carousel-animate-slide' data-autoplay="true">
      <div class='carousel-container'>
        <div class='carousel-item has-background is-active'>
          <article>
            <div class="carousel-text">{{{fields.carousel_1}}}</div>
            {{#each fields.image_1}}
            <div class="image-1">
              <img src="{{url}}" alt="{{title}}">
            </div>
            {{/each}}
          </article>
        </div>
        <div class='carousel-item has-background'>
          <article>
            <div class="carousel-text">{{{fields.carousel_2}}}</div>

            {{#each fields.image_2}}
            <div class="image-2">
              <img src="{{url}}" alt="{{title}}">
            </div>
            {{/each}}
          </article>
        </div>
        <div class='carousel-item has-background'>
          <article>
            <div class="carousel-text">{{{fields.carousel_3}}}</div>

            {{#each fields.image_3}}
            <div class="image-3">
              <img src="{{url}}" alt="{{title}}">
            </div>
            {{/each}}
          </article>
        </div>
      </div>
      <div class="carousel-navigation is-centered">
        <div class="carousel-nav-left">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </div>
        <div class="carousel-nav-right">
          <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </section>
  <hr>
  <section id="donate-module">
    {{{fields.donate}}}

    <div class="link button">
      {{#each fields.donate_button}}
      <a href="{{url}}">{{title}}</a>
      {{/each}}
    </div>
  </section>

</body>


{{#content_for 'title'}}
  {{fields.header}}
{{/content_for}}

{{#content_for 'color_theme'}}
  {{fields.color_theme}}
{{/content_for}}
