<body>

  <section>
    {{#each fields.hero_image}}
    <div class="hero-image">
      <img src="{{url}}" alt="{{title}}"
    </div>
    {{/each}}

    {{fields.mission}}
    <div class="link">
      {{#each fields.member_button}}
      <a href="{{url}}">{{title}}</a>
      {{/each}}
    </div>
  </section>

  <section>

    <article>
      {{{fields.carousel_1}}}
      {{#each fields.image_1}}
      <div class="image-1">
        <img src="{{url}}" alt="{{title}}"
      </div>
      {{/each}}
    </article>

    <article>
      {{{fields.carousel_2}}}
      {{#each fields.image_2}}
      <div class="image-2">
        <img src="{{url}}" alt="{{title}}"
      </div>
      {{/each}}
    </article>

    <article>
      {{{fields.carousel_3}}}
      {{#each fields.image_3}}
      <div class="image-3">
        <img src="{{url}}" alt="{{title}}"
      </div>
      {{/each}}
    </article>

  </section>


</body>

{{#content_for 'title'}}
  {{fields.header}}
{{/content_for}}

{{#content_for 'color_theme'}}
  {{fields.color_theme}}
{{/content_for}}
