<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{#block 'title'}}AWSDA{{/block}}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <!--move main css to be reachable in here-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>


    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Hero title
          </h1>
          <h2 class="subtitle">
            Hero subtitle
          </h2>
        </div>
      </div>
    </section>


    <nav class="navbar is-primary" role="navigation" aria-label="dropdown navigation">
      <div class="container">
        <div class="navbar-brand">
        <span class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-start">
            <a href="/" class="navbar-item is-active">Home</a>

            <div class="navbar-item has-dropdown is-hoverable">

              <a class="navbar-link" href="/resources">
                Resources
              </a>

              <div class="navbar-dropdown is-hidden-mobile is-boxed">
                <a class="navbar-item" href="/resources/view/instructors">
                  Instructors
                </a>
                <a class="navbar-item" href="/resources/view/hotlines">
                  Hotlines
                </a>
                <a class="navbar-item" href="/resources/view/state-coalitions">
                  State Coalitions
                </a>
                <a class="navbar-item" href="/resources/view/member-agencies">
                  Member Agencies
                </a>
                <a class="navbar-item" href="/resources/view/newsletters">
                  Newsletters
                </a>
              </div>

            </div>

            <div class="navbar-item has-dropdown is-hoverable">

              <a class="navbar-link" href="/events/view/events">
                Events
              </a>

              <div class="navbar-dropdown is-hidden-mobile is-boxed">
                <a class="navbar-item" href="/events/view/events">
                  Upcoming
                </a>
                <a class="navbar-item" href="/events/view/past-events">
                  Past
                </a>
              </div>

            </div>

            <div class="navbar-item has-dropdown is-hoverable">

              <a class="navbar-link" href="/about/view/about">
                About
              </a>

              <div class="navbar-dropdown is-hidden-mobile is-boxed">
                <a class="navbar-item" href="/about/view/about">
                  About AWSDA
                </a>
                <a class="navbar-item" href="/about/view/self-defense">
                  Self Defense
                </a>
                <a class="navbar-item" href="/about/view/statistics">
                  Statistics
                </a>
                <a class="navbar-item" href="/about/view/meet-the-board">
                  Meet the Board
                </a>
              </div>

            </div>

          </div>
        </div>

        <div class="navbar-menu">
          <div class="navbar-end">
            <a href="/become-a-member" class="navbar-item">Become a Member</a>
            <a href="/donate" class="navbar-item">Donate</a>
          </div>
        </div>
      </div>
    </nav>


    <section>
      <div class="container">
        {{{ template }}}
      </div>
    </section>
    <!--move main js to be reachable in here-->
    <script type="text/javascript" src="/assets/lib/main.js"></script>
  </body>
</html>
