<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{#block 'title'}}AWSDA{{/block}}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <!--move main css to be reachable in here-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>


    <section class="hero">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">
            Hero title
          </h1>
          <h2 class="subtitle">
            Hero subtitle
          </h2>
        </div>
      </div>
    </section>


    <nav class="navbar is-primary">
      <div class="container">
        <div class="navbar-brand">
        <span class="navbar-burger burger" data-target="navMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
        </div>
        <div id="navMenu" class="navbar-menu">
          <div class="navbar-start">
            <a href="/" class="navbar-item is-active">Home</a>
            <a href="/board-members" class="navbar-item">Board Members</a>
            <a href="/resources" class="navbar-item">Resources</a>
          </div>
        </div>
      </div>
    </nav>

    {{{ template }}}

    <!--move main js to be reachable in here-->
    <script type="text/javascript" src="/assets/lib/main.js"></script>
  </body>
</html>
