<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{#block 'title'}}American Women’s Self Defense Association{{/block}}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div id="fb-root"></div>
<script>(function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s);
    js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.1';
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{#block 'title'}}American Women’s Self Defense Association{{/block}}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <section class="hero">
        <div id="custom-hero" class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-one-fifth">
                        <a href="/"><img class="image is-96x96" src="/assets/images/awsda-logo.png"></a>
                    </div>

                    <div class="column">
                        <a href="/">
                            <h2 id="hero-title" class="title is-3 has-text-grey">
                                American Women's Self Defense Association
                            </h2>
                            <h6 id="hero-tagline" class="title is-6">
                                To create a safer society in which all women learn practical, effective, self-defense
                                skills.
                            </h6>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <nav id="custom-nav" class="navbar is-transparent" role="navigation" aria-label="dropdown navigation">
        <div class="container">
            <div class="navbar-brand">
                <div id="mobile-logo" class="navbar-start">
                    <img class="image is-64x64" src="/assets/images/awsda-logo.png"/>
                </div>
                <span class="navbar-burger burger" data-target="navMenu">
                  <span></span>
                  <span></span>
                  <span></span>
                </span>
            </div>
            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a href="/" class="navbar-item">Home</a>

                    <div class="navbar-item has-dropdown is-hoverable">

                        <a class="navbar-link" href="/resources/view/instructors">
                            Resources
                        </a>

                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" href="/resources/view/instructors">
                                Instructors
                            </a>
                            <a class="navbar-item" href="/resources/view/hotlines">
                                Hotlines
                            </a>
                            <a class="navbar-item" href="/resources/view/state-coalitions">
                                State Coalitions
                            </a>
                            <a class="navbar-item" href="/resources/view/member-agencies">
                                Member Agencies
                            </a>
                            <a class="navbar-item" href="/resources/view/newsletters">
                                Newsletters
                            </a>
                            <a class="navbar-item" href="/resources/view/visualizations">
                                Visualizations
                            </a>
                        </div>

                    </div>

                    <div class="navbar-item has-dropdown is-hoverable">

                        <a class="navbar-link" href="/events">
                            Events
                        </a>

                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" href="/events">
                                Upcoming
                            </a>
                            <a class="navbar-item" href="/events/view/past-events">
                                Past
                            </a>
                        </div>

                    </div>

                    <div class="navbar-item has-dropdown is-hoverable">

                        <a class="navbar-link" href="/about/view/about">
                            About
                        </a>

                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" href="/about/view/self-defense">
                                Facts & Statistics
                            </a>
                            <a class="navbar-item" href="/meet-the-board">
                                Meet the Board
                            </a>
                        </div>

                    </div>

                </div>
            </div>

            <div class="navbar-menu">
                <div class="navbar-end">
                    <a href="/donate" class="navbar-item">Donate</a>

                    <div class="navbar-item">
                        <a id="become-member-button" href="/become-a-member" class="button">BECOME A MEMBER</a>
                    </div>

                </div>
            </div>
        </div>
    </nav>

    <section style="min-height: 100vh">
        <div id="main-content" class="container">
            {{{ template }}}
        </div>
    </section>

    <footer id="custom-footer" class="footer">
        <div class="container content has-text-centered">
            <div class="columns">
                <div class="column">
                    <div class="fb-like" data-href="https://www.facebook.com/Americanwomensselfdefense/"
                         data-layout="standard"
                         data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
                </div>
                <div class="column has-text-right">
                    <p>Get the latest in self-defense news! Sign up for our newsletter <a href="/newsletter-signup">here</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="/assets/lib/main.js"></script>
    <script type="text/javascript" src="/assets/lib/bulma-carousel.min.js"></script>

    <!-- Begin Constant Contact Active Forms -->
    <script> var _ctct_m = "2caba118d9b5bdc27dcd7da5ea55c7c5"; </script>
    <script id="signupScript" src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js" async
            defer></script>
    <!-- End Constant Contact Active Forms -->
</body>

</html>