@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

$body-family: 'Quattrocento Sans', sans-serif;
$awsda-red: #d92748;

@import "../node_modules/bulma/bulma";
@import '../node_modules/bulma-extensions/bulma-carousel/src/sass/index';
@import url('https://fonts.googleapis.com/css?family=Quattrocento+Sans');
@import 'util';


div#main-content {
  margin-top: 30px;
  margin-bottom: 70px;
  padding: 0 3rem;
}

#custom-footer {
  max-height: 50px;
}

section#hero {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 0;
}

section#carousel {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
}

section#carousel article {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

section#carousel article div:first-child {
  padding-right: 2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section#donate-module {
  padding: 4rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section#carousel strong, section#donate-module strong {
  font-size: 1.5rem;
  color: $awsda-red;
}

p.member-desc {
  margin-top: 15px;
}

.button {
  background-color: white;
  border-color: $awsda-red;
  margin: 0;
}

.button:hover {
  background-color: $awsda-red;
  border-color: $awsda-red;
}

.button a {
  color: $awsda-red;
}

.button a:hover {
  color: $awsda-red;
  color: white;
}

div#board-card {
  margin-bottom: 50px;
  div.rect-image-wrapper {
    height: 300px;
    overflow: hidden;
    img.image {
      width: 100%;
    }
  }

}

#become-member-button {
  color:$awsda-red;
}

blockquote {
  font-weight: bold;
  font-size: 1.5rem;
  padding: 3rem 0;
}

div#custom-hero {
  border-top: 4px solid $awsda-red;
}


#hero-tagline {
  color: $awsda-red;
  margin-top: 5px;
}

#hero-title {
  margin-bottom: 1rem;
}

nav#custom-nav {
  border-top: 1px solid $grey-light;
  border-bottom: 1px solid $grey-light;
}
