<h2 class="title">{{collection.title}}</h2>
<div class="content">
    {{#each items}}
    <!-- temporary inline style-->

    <div id="board-card" class="card">
        <div class="card-content">
            <div class="columns">
                <div class="column">
                    <h2 class="strong-red no-bottom-margin">{{fields.name}}</h2>
                    <p>{{fields.role}}</p>
                    <p class="member-desc">{{fields.short_description}}</p>
                </div>

                <div class="column">
                    <a href="{{slug}}">
                        {{#each fields.photos}}
                        {{#if @first}}
                        <div class="rect-image-wrapper">
                            <img class="image" src="{{secure_url}}" alt="">
                        </div>
                        {{/if}}
                        {{/each}}
                    </a>
                </div>
            </div>
        </div>


    </div>

    {{/each}}
</div>